[Service]
TimeoutStartSec=1800

[Container]
Image=docker.io/fluent/fluent-bit:2.2
Exec=/fluent-bit/bin/fluent-bit -c /fluent-bit.conf
ContainerName=fluent-bit
Volume=metrics.volume:/metrics
Volume=./fluent-bit.conf:/fluent-bit.conf:ro,z
Volume=./parsers.conf:/parsers.conf:ro,z
Network=ollama.network
