[Service]
TimeoutStartSec=1800

[Container]
Image=docker.io/grafana/grafana-enterprise:10.3.1
ContainerName=grafana
Network=ollama.network
Volume=grafana.volume:/var/lib/grafana
PublishPort=3000:3000

[Install]
WantedBy=default.target
