[Unit]
Requires=ingest.service redis.service
After=ingest.service redis.service

[Service]
TimeoutStartSec=1800

[Container]
Image={{ frontend_client_container_image }}
ContainerName=slackbot
Volume=embedding.volume:/db
Environment=PERSIST_DIRECTORY=/db
Environment=SLACK_APP_TOKEN={{frontend_slack_app_token}}
Environment=SLACK_BOT_TOKEN={{frontend_slack_bot_token}}
Environment=OLLAMA_HOST=ollama
Environment=REDIS_HOST=redis
Environment=FORWARD_QUESTION_CHANNEL_NAME={{frontend_forward_question_channel_name}}
Network=ollama.network

[Install]
WantedBy=default.target
