---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: knowledgebase-slackbot
  labels:
    app: knowledgebase-slackbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: knowledgebase-slackbot
  template:
    metadata:
      labels:
        app: knowledgebase-slackbot
    spec:
      containers:
      - name: slackbot
        image: {{ frontend_client_container_image }}
        command: ["python", "-m", "knowledge_base_gpt.apps.slackbot.slack_bot"]
        volumeMounts:
        - mountPath: "/db"
          name: embedding
          readOnly: true
        env:
        - name: PERSIST_DIRECTORY
          value: "/db"
        - name: OLLAMA_HOST
          value: {{ frontend_ollama_host }}
        - name: REDIS_HOST
          value: redis
        - name: FORWARD_QUESTION_CHANNEL_NAME
          value: {{frontend_forward_question_channel_name}}
        - name: SLACK_APP_TOKEN
          valueFrom:
            secretKeyRef:
              name: knowledgebase-slackbot-tokens
              key: app-token
        - name: SLACK_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: knowledgebase-slackbot-tokens
              key: bot-token
        securityContext:
          runAsUser: 0
      volumes:
      - name: embedding
        persistentVolumeClaim:
          claimName: systemd-embedding
