[Unit]
Requires=ingest.service redis.service fluentbit.service
After=ingest.service redis.service fluentbit.service

[Service]
TimeoutStartSec=1800

[Kube]
Yaml=slackbot.yml
Network=ollama.network

[Install]
WantedBy=default.target
