langchain==0.2.16
langchain-community==0.2.16
chromadb==0.5.5
google-api-python-client==2.145.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
PyPDF2==3.0.1
slack_bolt==1.20.1
redis==5.0.8
injector==0.22.0
envyaml==1.10.211231
sentence-transformers==3.1.0
langchain-openai==0.1.23
langchain-huggingface==0.0.3
langchain-google-community==1.0.8
pysqlite3-binary==0.5.3.post1