[SERVICE]
    Parsers_File /parsers.conf

[INPUT]
    Name tail
    Path /metrics/kbm.log
    Tag metrics_file

[FILTER]
    Name parser
    Match metrics_file
    Key_Name log
    Parser knowledgebase_metrics

{% for stage in stages -%}
[FILTER]
    Name rewrite_tag
    Match metrics_file
    Rule stage {{ stage }}_generation {{ stage }}_generation_metrics true
{% for field in metric_fields %}
[FILTER]
    Name log_to_metrics
    Match {{ stage }}_generation_metrics
    Tag {{ stage }}_{{ field.name }}_metric
    metric_mode histogram
    metric_name {{stage}}_{{ field.name }}
    metric_description {{ field.name }} to generate the {{ stage }}
    value_field {{ field.name }}
    label_field identifier
    {%- for bucket in buckets[field.type] %}
    bucket {{ bucket }}
    {%- endfor %}
{% endfor %}
{% endfor -%}

[OUTPUT]
    name prometheus_exporter
    match *metric
    host 0.0.0.0
    port 2021
