[Container]
Image=docker.io/ollama/ollama:{{ ollama_container_image_tag }}
ContainerName=ollama
Volume=ollama.volume:/root/.ollama
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true
Network=ollama.network
{% if ollama_expose_insecure_port %}
PublishPort=11434:11434
{% endif %}

[Install]
WantedBy=default.target