[Container]
Image=docker.io/ollama/ollama:latest
ContainerName=ollama
PublishPort=11434:11434
Volume=ollama.volume:/root/.ollama
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true

[Install]
WantedBy=multi-user.target
