[Container]
Image=docker.io/ollama/ollama:latest
ContainerName=ollama
Volume=ollama.volume:/root/.ollama
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true
Network=ollama.network

[Install]
WantedBy=multi-user.target

[Unit]
Requires=ingest.service
After=ingest.service
